li {
    list-style-type: none;
  }
  ul {
    padding: 0px;
  }
  
  .temps {
    color: black;
    font-size: 20px;
  }
  
  .minTemperature,
  .maxTemperature {
    color: black;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 20px;
  }
  
  .curr-temperature {
    font-size: 40px;
    color: rgb(10, 10, 10);
    font-weight: bold;
  }
  
  .text {
    text-align: center;
  }
  
  .active {
    color: rgb(33, 33, 33);
    cursor: default;
  }
  
  .active:hover {
    text-decoration: none;
  }
  
  .units {
    position: relative;
    top: -15px;
  }
  